@font-face {

  font-family: "RussoOne-Regular";
  src: url("fonts/RussoOne-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

* {

  margin: 0;
  padding-top: 0;
  box-sizing: border-box;

  font-family: "RussoOne-Regular", sans-serif;

  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  shape-rendering: optimizeSpeed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {

  font-size: 62.5%;

}

body {

  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right bottom, #2e009f, #0045c0, #0070d6, #4298e4, #7ebeee);

  .container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;

  }

  .container h1,
  .container h2,
  .container p {

    color: #fff;

  }

  & button:hover {

    opacity: 0.7;
    cursor: pointer;

  }

  & button:focus {

    outline: 2px solid rgba(255, 255, 255, 0.5);

  }

  form {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 3rem;
    padding: 3rem;
    border-radius: 1rem;

    background-color: rgba(225, 225, 225, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    & h1 {

      font-size: 3.2rem;

    }

    @media(max-width: 600px) {

      & h1 {

        font-size: 2.4rem;

      }

    }

    & label {

      color: #fff;
      font-size: 1.3rem;

    }

    & input {

      border: none;
      border-radius: 1rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    }

    & input:hover {

      opacity: 0.7;
      cursor: text;

    }

    & input:focus {

      outline: 2px solid rgba(255, 255, 255, 0.5);
      opacity: 1;

    }

    & .password_field,
    & .password_confirm_field {

      & .field {

        display: flex;
        flex-direction: row;

      }

      & input {

        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;

      }

      & button {

        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;

        background: #fff;

        .toggle_visibility_icon {

          align-items: center;
          justify-content: center;
          display: flex;
          height: 1.7rem;
          width: 1.7rem;

        }

      }

    }

    & button {

      color: #fff;

      border-radius: 10px;
      border: none;

      background-color: rgba(225, 225, 225, 0.19);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);

    }

    & .stayLogged {

      display: flex;
      font-size: 1.3rem;

    }

    & .stayLogged:hover {

      opacity: 0.7;
      cursor: pointer;

    }

  }

}
